.prize-btn {
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.prize-btn:disabled {
  background-color: #ccc !important;
  color: #999;
  cursor: not-allowed;
}

/* Footer styles */
    footer {
      text-align: center;
      margin-top: 8rem;
      color: #aaa;
      font-size: 0.9rem;
    }
